{% if shop.metafields.reviewsimportify and shop.metafields.reviewsimportify.store_settings %}
{% assign ri_settings = shop.metafields.reviewsimportify.store_settings %}
{% else %}
{% assign ri_settings = null %}
{% endif %}

{% if ri_settings.app_status == "active" and product.metafields.reviewsimportify and product.metafields.reviewsimportify.reviews_overview %}
  {% assign reviews_overview = null %}
  {% if product.metafields.reviewsimportify.reviews_overview.reviews_count > 0 %}
    {% assign reviews_overview = product.metafields.reviewsimportify.reviews_overview %}
  {% elsif product.metafields.reviewsimportify.reviews_overview.value.reviews_count > 0 %}
    {% assign reviews_overview = product.metafields.reviewsimportify.reviews_overview.value %}
  {% endif %}
<div class="reviews-importify-element visible" product_id="{{ product.id}}" product_handle="{{ product.handle}}">
  <div id="reviews-importify-reviews-ratings-{{ product.id }}" class="reviews-importify-reviews-ratings">
    <div class="reviews-importify-rating-stars" title='{% if ri_settings.out_of_five_star_text != null and ri_settings.out_of_five_star_text != "" %}{{ ri_settings.out_of_five_star_text | replace: "[average_rating]", reviews_overview.average_rating }}{% else %}{{ reviews_overview.average_rating }} out of 5 stars{% endif %}'>
      <div class="stars-empty">
        <span class="fa fa-star review-star-icon"></span>
        <span class="fa fa-star review-star-icon"></span>
        <span class="fa fa-star review-star-icon"></span>
        <span class="fa fa-star review-star-icon"></span>
        <span class="fa fa-star review-star-icon"></span>
        <div class="stars-filled" style="width:{{ reviews_overview.rating_percentage }}%;">
          <span class="fa fa-star review-star-icon review-star-checked"></span>
          <span class="fa fa-star review-star-icon review-star-checked"></span>
          <span class="fa fa-star review-star-icon review-star-checked"></span>
          <span class="fa fa-star review-star-icon review-star-checked"></span>
          <span class="fa fa-star review-star-icon review-star-checked"></span>
        </div>
      </div>
    </div>
    <span class="ri_review_count">
      {{ reviews_overview.reviews_count }} 
      {% if reviews_overview.reviews_count == 1 %}
        {% if ri_settings.reviews_one_star_count_string != "" and ri_settings.reviews_one_star_count_string != null %}{{ri_settings.reviews_one_star_count_string}}{% else %}review{% endif %}
      {% else %}
        {% if ri_settings.reviews_stars_count_string != "" and ri_settings.reviews_stars_count_string != null %}{{ri_settings.reviews_stars_count_string}}{% else %}reviews{% endif %}
      {% endif %}
    </span>
  </div>
</div>
{% endif %}